.tableWrap{
	width: 100%;
	height: calc(100% - 91px);
}
.tablePage{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: white;
    padding-right: 20px;
    margin-top: 5px;
}
.tableHead{
	width: 100%;
	height: 36px;
}
